---
development:
  FB_CLIENT_ID: '<secret here>'
  FB_CLIENT_SECRET: '<secret here>'
  FB_ACCESS_TOKEN: '<secret here>'

test:
  FB_CLIENT_ID: '<secret here>'
  FB_CLIENT_SECRET: '<secret here>'
  FB_ACCESS_TOKEN: '<secret here>'
