---
development:
  client_id: '<secret here>'
  client_secret: '<secret here>'
  access_token: '<secret here>'
  group_id: '<secret here>'
test:
  client_id: '<secret here>'
  client_secret: '<secret here>'
  access_token: '<secret here>'
  group_id: '<secret here>'
